.fondo {
    background: -webkit-linear-gradient(-90deg, #530060 10%,#EA0B8C 100%);
    width: 100%;
    height: 100vh;
}

#contenedor-logo {
    width: 40%; 
    position: absolute;
    margin-top: 50%;
    margin-left: 27%;
}

#contenedor-logo:hover {
   transform: rotate(360deg);
   transition: .6s;
}

#contenedor-logo img {
   width: 100%;
}

.body-home {
    background-image: url(https://media.giphy.com/media/SBmYW79RVOv1C/giphy.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
 